.and{
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: white;
    
}

.name{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 41%;
}
.name:hover{
box-shadow: 0 0 20px 0;
transform:rotate(-90);
filter: grayscale(60%);

}
.btn{
    background-color: black;
   color: white; 
   margin-left: 46%;}

   